*{
    margin: 0px 0px 0px 0px;
}
div.nav{
    background-color:rgb(51, 47, 47);
    text-align: center;
    width: 100%;
    padding: 10px;

}
.menu li{
    display: inline;
    margin: 40px;  
    color: whitesmoke;
}
div.covid{
    text-align: center;
    background-color: rgb(10, 144, 233);
    padding: 10px;
    width: 100%;
    color: white;
}
div.shop{
    text-align: center;
}
span{
    color: blue;
}
div.iphone12{
    text-align: center;
}
h1{
    font-size: 50px;
}
p.purchase{
    font-size: 20px;
}
.terms li{
    margin: auto;
    margin: 0px 175px 0px 175px;
    font-size: 14px;
}
div.terms{
     border-bottom: 1px solid gray;
}
.foot div ul{
    list-style: none;
    display: inline-block;
    float: left;
   
}


